.editor {
  width: 1200px;
  height: auto;
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  margin: 15px 15px 15px 15px;

  @media screen and (max-width: 1800px) {
    & {
      width: 1200px;
    }
  }
  @media screen and (max-width: 1240px) {
    & {
      width:900px;
    }
  }
  @media screen and (max-width: 934px) {
    & {
      width: 680px;
    }
  }
  @media screen and (max-width: 722px) {
    & {
      width: 460px;
    }
  }
  @media screen and (max-width: 400px) {
    & {
      width: 300px;
    }
  }
}
.editor__content {
  text-indent: 10px;
  margin: 20px;
}
