.layout {
  display: flex;
  justify-content: space-between;

  .layout-center {
    margin: 0 auto;
  }

  @media screen and (max-width: 1200px) {
    & {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 2px;
    }
  }
  @media screen and (max-width: 814px) {
    & {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 2px;
    }
  }
}
